<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle burger-menu" data-toggle="collapse" data-target="#burger">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="{{ path('cloud_drive_homepage') }}">CloudDrive</a>
        </div>
        <div class="collapse navbar-collapse" id="burger">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi, {{ app.user.username }}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="user-profile">
                        <img class="user-image" src="{{ asset('bundles/clouddrive/img/user-128.png') }}">
                        <p>{{ app.user.username }}</p>
                        <p>{{ app.user.email }}</p>
                    </li>
                    <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                </ul>
            </li>
            <li><p class="navbar-btn">
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-signout">Sign Out</a></p></li>
        </ul>
        </div>
    </div>
</nav>

