<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CloudDrive</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/clouddrive/vendor/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/clouddrive/vendor/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/clouddrive/css/index.css') }}">
    {% endblock %}
</head>
<body>
<div id="url_base" style="display: none;">{{ absolute_url(path('cloud_drive_homepage')) }}</div>
<div id="url_api_files" style="display: none;">{{ absolute_url(path('cloud_drive_api_main_page')) }}</div>
{% block content %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/clouddrive/js/scripts.min.js') }}"></script>
    <script src="{{ asset('bundles/clouddrive/vendor/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('bundles/clouddrive/vendor/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
